.taskContainer{
    display: flex;
    flex-direction: row;
    width: 400px;
    border-bottom: 1px solid rgb(117, 115, 115);
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;

}
.taskContainer:hover{
    background-color: rgb(226, 238, 241);
}



.taskContainer > li{
    flex: 1;
    list-style-type: none;
}



.taskContainer > button{
    margin-left: auto;

    padding: 6px 8px;
    border: none;
    color: #fff;
    background-color: #c94f4f;
    border-radius: 3px;
    cursor: pointer;  
}